<div class="container">
  <div class="row py-2 border-bottom border-top">
    <div class="col text-center">
      <a href="{{'/' | relative_url}}" class="btn btn-link text-dark"
        >මුල් පිටුව</a
      >
      <a
        href="{{'/privacy-policy' | relative_url}}"
        class="btn btn-link text-dark"
        >රහස්‍යතා ප්‍රතිපත්තිය</a
      >
    </div>
  </div>
  <div class="row py-2">
    <div class="col text-center">
      <small class="text-muted"
        >Copyright © neeroga.lk. All rights reserved.</small
      >
    </div>
  </div>
</div>
