---
---

:root {
  --color-1: #fdd93d;
  --color-2: #1f4690;
  --color-3: #5880ca;
}

* {
  font-family: 'Barlow', sans-serif;
  user-select: none;
}

.container {
  max-width: 1140px;
}

.btn-link {
  text-decoration: none;
  color: var(--color-2) !important;
}

h3 {
  color: var(--color-2);
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-1);
  margin-bottom: 1em;
}

.bg-hero {
  background-color: var(--color-3) !important;
}

.text-primary {
  color: var(--color-2) !important;
}

a {
  color: var(--color-2);
  text-decoration: none;
}

.ff-serif {
  font-family: 'Noto Serif Sinhala', serif !important;
}

.text-secondary {
  color: var(--color-3) !important;
}

.text-warning {
  color: var(--color-1) !important;
}
